.footer{
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: flex-end;
}
footer img{
    height:40px;
    width:40px;
    margin: 15px;
}
footer img:hover{
    height:45px;
    width:45px;
    cursor: pointer;
}